[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".janus/greplace.vim"]
	path = .janus/greplace.vim
	url = https://github.com/skwp/greplace.vim
[submodule ".janus/indentLine"]
	path = .janus/indentLine
	url = https://github.com/Yggdroot/indentLine
